@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: false;
}
@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
  --text-15: 15px;
  --text-13: 13px;

  --color-primaryBlue: #2563eb;
  --color-secondBlue: #0260ffe5;
  --color-fontBlue: #1c70ff;
  --color-darkBlue: #1f2937;
  --color-mediumBlue: #1f2937e5;

  --color-dark-gray: #637083;
  --color-gradient: #e6ffff;

  --color-midGreen: #3f7d58;

  --color-border: #6b728033;
  --color-borderLight: #e1e1e1;
  --color-borderLight2: #e3e3e3;

  --radius-5: 5px;

  --color-fontGray: #545454;
  --color-fontBlack: #0e0e0e;
  --color-fontMediumBlack: #232323;

  --color-mediumBlack: #111820;

  --color-mediumGray: #404040;
  --color-ligthGray: #888888;
  --color-ExtraLigthGray: #6b7280;

  --color-lightWhite: #ffffffcc;
  --color-mediumWhite: #f3f3f3;
  --color-white60: #ffffff99;
  --color-white30: #ffffff4d;
  --color-mediumWhite2: #f7f9fd;

  --color-mediumPurble: #4b445a;
  --color-mediumPurble2: #62577b;

  --color-primaryOrange: #ff4b4b;
}

.rich-text p {
  margin-bottom: 16px;
}

.rich-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #252525;
  margin: 32px 0;
}

.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
  margin: 24px 0;
}

.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin: 20px 0;
}

.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
  margin: 16px 0;
}

.rich-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  margin: 12px 0;
}

.rich-text h6 {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  margin: 8px 0;
}

.rich-text strong {
  font-weight: 700;
}

.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}

.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}

.rich-text li {
  margin-bottom: 8px;
}
